body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* o nuanță ușor diferită de alb pentru a fi mai plăcută la vedere */
    color: #333333; /* o nuanță mai închisă de negru pentru a fi mai ușor de citit */
  }

  #root {
    padding: 40px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #ffffff; /* un fundal alb pentru conținutul central */
    border-radius: 10px; /* marginile rotunjite pentru un aspect mai plăcut */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* o umbră subtilă pentru a evidenția conținutul */
  }
  
  p {
    font-size: 18px; /* un font puțin mai mare pentru o citire mai ușoară */
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  a {
    color: #09757a;
    text-decoration: underline;
    transition: color 0.3s ease; /* o tranziție lină pentru schimbarea culorii la hover */
  }
  
  a:hover {
    color: #064346; /* o nuanță mai închisă de albastru la hover */
  }
  